{
    "presets": [
        [
            "@babel/env",
            {
                "spec": true,
                "useBuiltIns": false
            }
        ],
        ["es3"]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "Nerv.createElement"
            }
        ]
    ]
}